body {
background-color: #bde2ff;
font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #189bff;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

img {
  display: inline;
}

h2 {
  font-size: 30px;
}

th {
  font-weight: bolder;
}

td {
  font-size: 16px;
  vertical-align: middle;
}

.wIcon {
  height: 40px;
}

.low {
  background-color: green;
  color: white;
}

.moderate {
  background-color: yellow;
}

.high {
  background-color: orange;
}

.very_high {
  background-color: red;
  color: white;
}

.extreme {
  background-color: #8d31ff;
  color: white;
}

.uvInfo {
  font-size: 14px;
}