:root {
  --white: #ffffff;
  --red: #ff0000;
  --orange: #ffa500;
  --gold: #ffdf3e;
  --yellow: #ffff00;
  --green: #5ec771;
  --ltBlue: #bde2ff;
  --medBlue: #189bff;
  --purple: #8d31ff;
  --myFont: "Montserrat", sans-serif;
}

body {
  background-color: var(--ltBlue);
}

body,
header {
  font-family: var(--myFont);
}

header,
.card,
.cityBtn {
  background-color: var(--medBlue);
  color: var(--white);
  text-align: center;
}

img {
  display: inline;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

th {
  font-weight: bolder;
}

td {
  font-size: 16px;
  vertical-align: middle;
}

#clearHist {
  color: var(--ltBlue);
  font-size: .75rem;
  margin-bottom: 0;
  cursor: pointer;
}

.card {
  padding: 3px;
}

.centered {
  text-align: center;
  width:6rem;
}

.cityBtn {
  border: 3px solid var(--gold);
  border-radius: 12px;
  margin-bottom: 5px;
}

.wIcon {
  height: 40px;
}

.low {
  background-color: var(--green);
}

.moderate {
  background-color: var(--yellow);
}

.high {
  background-color: var(--orange);
}

.very_high {
  background-color: var(--red);
  color: var(--white);
}

.extreme {
  background-color: var(--purple);
  color: var(--white);
}

.info {
  font-size: 14px;
}
